@import url('https://fonts.googleapis.com/css2?family=Barlow&display=swap');
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: "Inter", system-ui;
  box-sizing: border-box;
  
}
.wrapper {
  max-width: 1480px;
  width: 90%;
  margin: 0 auto;
}
/* navbar */
#navbar {
}

/* navbar1 */

#navbar .navbar1 {
  background-color: #634c9f;
  width: 100%;
  height: 41px;
  gap: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#navbar .navbar1 .navbar1-left {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#navbar .navbar1 .navbar1-left p {
  color: #ffffff;
  font-family: Inter;
  font-size: 12px;
  font-weight: 600;
  line-height: 14.52px;
}
#navbar .navbar1 .navbar1-right {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
#navbar .navbar1 .navbar1-right .nm {
  color: #d0c9e2;
  font-family: Inter;
  font-size: 12px;
  font-weight: 500;
  line-height: 14.52px;
}
#navbar .navbar1 .navbar1-right .np {
  color: #ffffff;
  font-family: Inter;
  font-size: 18px;
  font-weight: 700;
  line-height: 21.78px;
  margin-left: px;
}

/* navbar2 */

#navbar {
}
#navbar .navbar2 {
  height: 41px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}
#navbar .navbar2 .navbar2-left {
  display: flex;

  align-items: center;
  gap: 20px;
}
#navbar .navbar2 .navbar2-left h5 {
  color: #6b7280;
  font-size: 12px;
  font-weight: 500;
}
#navbar .navbar2 .navbar2-left p {
  color: #6b7280;
  font-size: 12px;
  font-weight: 400;
  line-height: 14.52px;
  /* text-align: left; */
  border-left: 1px solid #e5e7eb;
  padding-left: 10px;
}
#navbar .navbar2 .navbar2-left span {
  color: #ea580c;
  font-family: Inter;
  font-size: 12px;
  font-weight: 700;
  padding-right: px;
}
#navbar .navbar2 .navbar2-right {
  display: flex;
  gap: 10px;
  align-items: center;
}
#navbar .navbar2 .navbar2-right .english1{
  display: flex;
  gap: 5px;
  align-items: center;
}
#navbar .navbar2 .navbar2-right .english1 img{
  width: 8.08px;
  height: 4.33px;
  color: #6B7280;

 
}
#navbar .navbar2 .navbar2-right .english2{
  display: flex;
  align-items: center;
  gap: 5px;
}
#navbar .navbar2 .navbar2-right .english2 img{
  width: 8.08px;
  height: 4.33px;
  color: #6B7280;
}
#navbar .navbar2 .navbar2-right h5 {
  color: #6b7280;
  font-size: 12px;
  font-weight: 500;
}
#navbar .line {
  height: 1px;
  width: 100%;
  background-color: #e5e7eb;
}

/* navbar3 */

#navbar .navbar3 {
  display: flex;
  justify-content: space-between;
  height: 81.39px;
  gap: 15px;
}
#navbar .navbar3 .nav3-left {
  display: flex;
  align-items: center;
}
#navbar .navbar3 .nav3-left .logo {
  display: flex;
  justify-content: space-between;
  gap: 25px;
}
#navbar .navbar3 .nav3-left .logo .logo-img {
}
#navbar .navbar3 .nav3-left .logo .logo-img img {
  width: 142px;
  height: 34px;
}
#navbar .navbar3 .nav3-left .logo ul {
  display: flex;
  justify-content: space-between;
}
#navbar .navbar3 .nav3-left .logo ul li {
  margin-left: 13px;
}
#navbar .navbar3 .nav3-left .logo ul li small {
  font-size: 11px;
  font-weight: 400;
  line-height: 13.2px;
  color: #030712;
  display: block;
}
#navbar .navbar3 .nav3-left .logo ul li span {
  font-size: 13px;
  font-weight: 500;
  line-height: 15.6px;
  color: #030712;
}
#navbar .navbar3 .navbar3-middle {
  width: 863px;
  height: 46px;
  background: #f3f4f6;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
  padding: 10px;
  border-radius: 8px;

}
#navbar .navbar4 .nav4-left ul li .line3 {
  height: 1px;
  width: 100%;
  background-color: #634C9F;
}
#navbar .navbar3 .navbar3-middle input {
  width: 100%;
  border: none;
  background: #f3f4f6;
  color: #6B7280;

}
#navbar .navbar3 .navbar3-middle .nav-search .search-bar {
  display: flex;
}
#navbar .navbar3 .navbar3-middle .nav-search input {
  width: 860px;

  background: #f3f4f6;
  border: 1px solid #f3f4f6;
  margin: auto 0;
}
#navbar .navbar3 .navbar3-right ul {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  gap: 12px;
}
#navbar .navbar3 .navbar3-right ul .wachlist{
  position: relative;
}
#navbar .navbar3 .navbar3-right ul li .wachlist1{
  border-radius: 8.5px;
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -5px;
  margin-left: 25px;
  width: 17px;
  height: 17px;
}
#navbar .navbar3 .navbar3-right ul li .wachlist1 span{
  font-weight: 600;
  font-size: 10px;
  color: white;
}
#navbar .navbar3 .navbar3-right ul li img {
  margin-left: 10px;
  display: block;
}
#navbar .navbar3 .navbar3-right ul li small {
  font-size: 12px;
  font-weight: 500;
  line-height: 14.4px;
  color: #030712;
}

/* navbar4 */

#navbar .navbar4 {
  display: flex;
  justify-content: space-between;
  height: 48px;
  align-items: center;
}
#navbar .navbar4 .nav4-left ul {
  display: flex;
  gap: 38px;
  align-items: center;
}
#navbar .navbar4 .nav4-left ul li {
  font-size: 15px;
  font-weight: 600;
}
#navbar .navbar4 .nav4-left ul li .line {
  margin-top: 18px;
  color: #634c9f;
}
#navbar .navbar4 .nav4-left ul li a {
  color: #030712;
  gap: 23px;
}
#navbar .navbar4 .nav4-left ul li .color {
  color: #634c9f;
  line-height: 48px;
}
#navbar .navbar4 .nav4-left ul li a img {
  width: 9.9px;
  height: 5.31px;
}
#navbar .navbar4 .nav4-right ul {
  display: flex;
  gap: 10px;
}
#navbar .navbar4 .nav4-right ul li span {
  color: #ffffff;
  background-color: red;
  width: 37.47px;
  height: 20px;
  font-weight: 700;
  padding: 5px;
  border-radius: 4px;
}
#navbar .navbar4 .nav4-right ul li a {
  color: #030712;
  font-size: 15px;
  font-weight: 600;
}
#navbar .navbar4 .nav4-right ul img {
  width: 12.9px;
  margin-left: 3px;
  color: #DC2626;
}
#navbar .navbar4 .nav4-right ul .right-2 .img{
  color: red;
  width: 9.9px;
  margin-left: 3px;
}
#navbar .navbar4 .nav4-right ul li .color {
  color: red;
}

/* spotlight */

#spotlight .filter-icn{
  width: 1px;
}
#spotlight .spot-left .sp-lft-top .home {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 30px;
}
#spotlight .spot-left .sp-lft-top .home .home-img {
  display: flex;
  gap: 3px;
}
#spotlight .spot-left .sp-lft-top .home .home-img h6{
  color: #030712;
  font-weight: 400;
  font-size: 12px;
}
#spotlight .spot-left .sp-lft-top h4 {
  margin: 20px 0 20px 0;
  font-weight: 600;
  font-size: 14px;
  color: #030712;
}
#spotlight .spot-left .sp-lft-top .filter .min {
  display: flex;
  gap: 94px;
  margin-bottom: 10px;
}
#spotlight .spot-left .sp-lft-top .filter .min span{
  font-weight: 400;
  font-size: 12px;
  color: #6B7280;
}
#spotlight .spot-left .sp-lft-top .filter .box {
  display: flex;
  gap: 19px;
}
#spotlight .spot-left .sp-lft-top .filter .box .zero {
  border: 1px solid #d1d5db;
  width: 116.44px;
  background: #fff;
  height: 38px;
  top: 58.8px;
  padding: 10px;
  gap: 15px;
  border-radius: 8px;
  margin-bottom: 10px;
}
#spotlight .spot-left .sp-lft-top .filter .box .line {
  margin-top: 10px;
}
#spotlight .spot-left .sp-lft-top .filter .range {
  display: flex;
  margin-bottom: 23px;
}
#spotlight .spot-left .sp-lft-top .filter .range .round {
  border-radius: 50%;
  background-color: #000;
  width: 14px;
  height: 14px;
}
#spotlight .spot-left .sp-lft-top .filter .range .skyle {
  width: 259px;
  height: 3px;
  background-color: #000;
  margin: auto 0;
}
#spotlight .spot-left .sp-lft-top .filter .range .round {
  border-radius: 50%;
  background-color: #000;
  width: 14px;
  height: 14px;
}
#spotlight .spot-left .sp-lft-top .doller {
  display: flex;
  gap: 96px;
  align-items: center;
}
#spotlight .spot-left .sp-lft-top .doller .pri{
  font-weight: 400;
  font-size: 14px;
}
#spotlight .spot-left .sp-lft-top .doller .flt-btn {
  width: 69.58px;
  height: 38px;
  border-radius: 8px;
  background-color: #e5e7eb;
  border: none;
  font-weight: 700;
  font-size: 14px;
}
#spotlight .spot-left .sp-lft-top .line-2 {
  width: 283px;
  height: 1px;
  background-color: #e5e7eb;
  margin-top: 30px;
}

/* spotlight-left middle */

#spotlight .spot-left-middle {
  margin: 13px 0 15px 0;
}
#spotlight .spot-left-middle h5 {
  font-size: 14px;
  font-weight: 600;
  margin: 18px 0 18px 0;
}

#spotlight .spot-left-middle .check-item {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}
#spotlight .spot-left-middle .check-item input {
  width: 16px;
  height: 16px;
  accent-color: #634C9F;
  border: 2px solid #eb0b0b;
}
#spotlight .spot-left-middle .check-item h6 {
  font-weight: 500;
  font-size: 14px;
}
#spotlight .spot-left-middle .check-item .fnt-clr {
  font-weight: 500;
  font-size: 14px;
  color: #634c9f; 
}
#spotlight .spot-left-middle .check-item .plus {
  margin-left: 113px;
}
#spotlight .spot-left-middle .check-item .plus1 {
  margin-left: 164px;
}
#spotlight .spot-left-middle .check-item .plus2 {
  margin-left: 122px;
}
#spotlight .spot-left-middle .check-item .plus3 {
  margin-left: 120px;
}
#spotlight .spot-left-middle .check-item .plus4 {
  margin-left: 113px;
}
#spotlight .line-3 {
  width: 280px;
  height: 1px;
  background-color: #e5e7eb;
  margin-top: 15px;
}

/* spot-left-bottom*/

#spotlight .spot-left-bttm {
  margin-left: -16px;
}
#spotlight .spot-left-bttm h5 {
  margin-top: 15px;
  font-weight: 600;
  font-size: 14px;
}
#spotlight .spot-left-bttm .left-bttm-1 {
  margin: 20px 0 20px 0;
  align-items: center;
  display: flex;
}
#spotlight .spot-left-bttm .left-bttm-1 .circle{
  width: 20px;
  height: 20px;
  border-radius: 10px;
  background-color: #81D742;
  margin-right: 5px;
}
#spotlight .spot-left-bttm .left-bttm-1 h6 {
  font-weight: 400;
  font-size: 14px;
  margin-right: 202px;
  color: #030712;
}
#spotlight .spot-left-bttm .left-bttm-1 span {
  font-size: 11px;
  color: #9ca3af;
}
#spotlight .spot-left-bttm .line4 {
  width: 280px;
  height: 1px;
  background-color: #e5e7eb;
  margin-top: 10px;
}

/*  */

#spotlight .spot-left-bttm .left-bttm-2 {
  margin: 20px 0 20px 0;
}
#spotlight .spot-left-bttm .left-bttm-2 h5 {
  margin-bottom: 10px;
}
#spotlight .spot-left-bttm .left-bttm-2 .filter-by-brand {
  display: flex;
  margin: 14px 0 14px 0 ;
}

#spotlight .spot-left-bttm .left-bttm-2 input {
  margin-right: 10px;
  width: 16px;
  height: 16px;
}
#spotlight .spot-left-bttm .left-bttm-2 h6 {
  font-weight: 500;
  font-size: 13px;
  color: #030712;
  margin-right: 208px;
}
#spotlight .spot-left-bttm .left-bttm-2 span {
  color: #9ca3af;
  font-size: 11px;
}
#spotlight .spot-left-bttm .line5 {
  width: 280px;
  height: 1px;
  background-color: #e5e7eb;
  margin-top: 10px;
}

/*  */

#spotlight .spot-left-bttm .left-bttm2 {
  margin-top: 28px;
}
#spotlight .spot-left-bttm .left-bttm3 h5 {
  width: 600px;
  size: 14px;
  margin-bottom: 12px;
}
#spotlight .spot-left-bttm .left-bttm3 .product-status1 {
  margin-bottom: 5px;
  display: flex;
  gap: 10px;
}
#spotlight .spot-left-bttm .left-bttm3 .product-status1 input {
  width: 16px;
  height: 16px;
  margin-left: 2px;
}
#spotlight .spot-left-bttm .left-bttm3 .product-status1 h6 {
  font-weight: 500;
  font-size: 14px;
  color: #030712;
}
#spotlight .spot-left-bttm .left-bttm3 {
  margin-top: 28px;
}
#spotlight .spot-left-bttm .left-bttm3 .product-status2 {
  display: flex;
  gap: 0px;
  margin-left: -5px;
}
#spotlight .spot-left-bttm .left-bttm3 .product-status2 input {
  width: 31px;
  height: 16px;
}
#spotlight .spot-left-bttm .left-bttm3 .product-status2 h6 {
  font-weight: 500;
  font-size: 14px;
  color: #030712;
}

/*  */
#spotlight .spotlight-main .mainleft{
  width: 302px;
  height: 907px;
}
#spotlight .spotlight-main {
  display: flex;
}
#spotlight .spotlight-main {
  display: flex;
}
#spotlight .spotlight-main .mainleft .cross-icn .icn-img{
  display: none;
}

/*  */

#spotlight .spotlight-main .spotlight-right {
  width: 1042px;
  height: 1802px;
}
#spotlight .spotlight-main .spotlight-right .bantage{
  display: flex;
  gap: 10px;
  margin-top: 62px;
  margin-left: 10px;
  margin-bottom: 25px;
}
#spotlight .spotlight-main .spotlight-right .bantage .bantage1{
  display: flex;
  align-items: center;
  gap: 5px;
}
#spotlight .spotlight-main .spotlight-right .bantage .bantage1 .closs img{
  width: 10px;
}
#spotlight .spotlight-main .spotlight-right .bantage .bantage1 h6{
  font-weight: 500;
  font-size: 14px;
  color: #555555;
}
#spotlight .spotlight-main .spotlight-right .bantage .bantage2{
  display: flex;
  align-items: center;
  gap: 5px;
}
#spotlight .spotlight-main .spotlight-right .bantage .bantage2 .closs img{
  width: 10px;
}
#spotlight .spotlight-main .spotlight-right .bantage .bantage2 h6{
  font-weight: 500;
  font-size: 14px;
  color: #555555;
}
/*  */
#spotlight .spotlight-main .spotlight-right .banner .banner-img{
  position: relative;
  margin-left: 13px;
  border-radius: 6px;
}
#spotlight .spotlight-main .spotlight-right .banner .banner-img img{
  border-radius: 6px;
  display: block;
  width: 100%;
}
#spotlight .spotlight-main .spotlight-right .banner .banner-text{
  position: absolute;
  top: 350px;
  margin-left: 60px;
  display: flex;
  flex-direction: column;  
  width: 381px;
  height: 209px;
}
 
#spotlight .spotlight-main .spotlight-right .banner .banner-text .only{
  background: #FFEDD5;
  width: 85px;
  border-radius: 5px;
  margin-bottom: 7px;
  margin-top: 14px;
}
#spotlight .spotlight-main .spotlight-right .banner .banner-text .grocery h4{
  width: 394.28px;
  height: 36px;
  margin-bottom: 47px;
}
#spotlight .spotlight-main .spotlight-right .banner .banner-text span{
  width: 100%;
  height: 35.51px;
  margin-bottom: 15px;
}
#spotlight .spotlight-main .spotlight-right .banner h6{
  font-weight: 600;
  font-size: 10px;
  color: #7C2D12;
  border-radius: 30px;
  margin: 5px 5px;
}  
#spotlight .spotlight-main .spotlight-right .banner h4{
  font-weight: 700;
  font-size: 30px;
  color : #111827;
  width: 3728px;
  height: 36px;
}
#spotlight .spotlight-main .spotlight-right .banner span{
  font-size: 13px;
  color :#6B7280;
  font-weight: 400;
}
#spotlight .spotlight-main .spotlight-right .banner .banner-text .shop-Now{ 
  width: 108px;
  height: 34px;
  border-radius: 999px;
  background-color: #ffffff;
  border: none;
  font-weight: 57.77px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3px;
}
#spotlight .spotlight-main .spotlight-right .search-bar{
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #F3F4F6;
  border-radius: 5px;
  margin: 5px 12px;
  padding: 10px;
  margin-bottom: 8px;
}
#spotlight .spotlight-main .spotlight-right .search-bar .search1 input{
  border: none;
  background: #F3F4F6;
} 
#spotlight .spotlight-main .spotlight-right .search-bar .search2{
  display: flex;  
  align-items: center;  
  gap: 6px;
}
#spotlight .spotlight-main .spotlight-right .search-bar .search2 .sort{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
}
#spotlight .spotlight-main .spotlight-right .search-bar .search2 .sort h6{
  font-weight: 500;
  font-size: 12px;
  color: #9CA3AF;
}
#spotlight .spotlight-main .spotlight-right .search-bar .search2 .sort span{
  font-weight: 500;
  font-size: 12px;
  color: #020617;
  margin-right: 6px;
}
#spotlight .spotlight-main .spotlight-right .search-bar .search2  .show{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#spotlight .spotlight-main .spotlight-right .search-bar .search2  .show span{
  font-weight: 500;
  font-size: 12px;
  color: #9CA3AF;
}
#spotlight .spotlight-main .spotlight-right .search-bar .search2  .show h6{
  font-weight: 500;
  font-size: 12px;
  color: #020617;
}
#spotlight .spotlight-main .spotlight-right .search-bar .search2 .sqr-1 img{
  width: 30px;
  height: 30px;
}
#spotlight .spotlight-main .spotlight-right .search-bar .search2 .sqr-2 img{
  width: 30px;
  height: 30px;
}
/* card box */
#spotlight .spotlight-main .spotlight-right .cardbox{
  width: 1014.3px;
  height: 400px;
  border-radius: 6px;
  display: flex;
  flex-wrap: wrap; 
  margin-left: 11px
}
#spotlight .spotlight-main .spotlight-right .cardbox .cards{
  width: 202.5px;
  height: 353.27px;
  border: 1px solid #E5E7EB;
  padding: 17px 8px 8px 8px;
  padding: 8px;
  align-items: center;
}
#spotlight .spotlight-main .spotlight-right .cardbox .cards .cardtop{
  position: relative;
  padding: 5px;
}
 .spotlight-main .spotlight-right .cardbox .cards .change{
  width: 24px;
  height: 14px;
  background-color:#0000001A;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3px;
  margin-left: 144px;
  position: relative;
  top: -20px;
}
#spotlight .spotlight-main .spotlight-right .cardbox .cards .change .yellow{
  width: 6px;
  height: 6px;
  background-color: #facc15;
  border-radius: 25px;
}
#spotlight .spotlight-main .spotlight-right .cardbox .cards .change .white{
  width: 6px;
  height: 6px;
  background-color: #ffffff;
  border-radius: 25px;
}
#spotlight .spotlight-main .spotlight-right .cardbox .cards .change-3{
  width: 32px;
  height: 14px;
  background-color:#0000001A;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3px;
  margin-left: 144px;
  position: relative;
  top: -20px;
  left: -22px;
}
#spotlight .spotlight-main .spotlight-right .cardbox .cards .change-3 .yellow{
  width: 6px;
  height: 6px;
  background-color: #facc15;
  border-radius: 25px;
}
#spotlight .spotlight-main .spotlight-right .cardbox .cards .change-3 .white{
  width: 6px;
  height: 6px;
  background-color: #ffffff;
  border-radius: 25px;
}
#spotlight .spotlight-main .spotlight-right .cardbox .cards .cardtop .prd-img img{
  width: 152.5px;
  height: 152.5px;
}
#spotlight .spotlight-main .spotlight-right .cardbox .cards .cardtop .percentage small{
  background-color: #DC2626;
  border-radius: 40px;
  height: 24px;
  width: 38.3px;
  display: flex;
  justify-content: center;
  align-items: center; 
}
#spotlight .spotlight-main .spotlight-right .cardbox .cards .cardtop small{
  position: absolute;
  top: 5px;
  left: 4px;
  color: #fef2f2;
  font-weight: 800;
  font-size: 10px;
}
#spotlight .spotlight-main .spotlight-right .cardbox .cards .cardtop .like img{
  position: absolute;
  top: 0px;
  right: 7px;
}
#spotlight .spotlight-main .spotlight-right .cardbox .cards .organic{
  position: absolute;
  left: 0px;
  top: 141px
}
#spotlight .spotlight-main .spotlight-right .cardbox .cards .cardbttm .discrib{
  width: 172.5px;
  margin-bottom: 5px;
}
#spotlight .spotlight-main .spotlight-right .cardbox .cards .cardbttm .discrib p{
  font-weight: 500;
  font-size: 13px;
  color: #030712;
}
#spotlight .spotlight-main .spotlight-right .cardbox .cards .cardbttm .star{
  margin-bottom: 5px;  
}
#spotlight .spotlight-main .spotlight-right .cardbox .cards .cardbttm .star img{
  width: 66px;
  height: 11px;
}
#spotlight .spotlight-main .spotlight-right .cardbox .cards .cardbttm .star span{
  font-weight: 400;
  font-size: 12px;
  color: #6b7280;
}
#spotlight .spotlight-main .spotlight-right .cardbox .cards .cardbttm .price{
  display: flex;
  align-items: center;
  gap: 4px;
  margin-bottom: 5px;
}
#spotlight .spotlight-main .spotlight-right .cardbox .cards .cardbttm .price small{
  font-weight: 700;
  font-size: 22px;
  color: #DC2626;
  font-family: 'Barlow', sans-serif;
}
#spotlight .spotlight-main .spotlight-right .cardbox .cards .cardbttm .price span{
  font-weight: 500;
  font-size: 16px;
  text-decoration: line-through;
  color: #111827;
  font-family: 'Barlow', sans-serif;
}
#spotlight .spotlight-main .spotlight-right .cardbox .cards .cardbttm .cart{
  display: flex;
  align-items: center;
  gap: 15px;
  margin-top: 13px;
}
#spotlight .spotlight-main .spotlight-right .cardbox .cards .cardbttm .cart .cart-img img{
  width: 36;
  height: 34;
}
#spotlight .spotlight-main .spotlight-right .cardbox .cards .cardbttm .cart span{
  color: #16a34a;
  font-weight: 700;
  font-size: 11px;
}

/* footer */

#footer{
  background: #F3F4F6;
  margin-top: 105px;
  background:#F3F4F6 ;
}
#footer .footer-top{
  display: flex;
  justify-content: space-between;
}
#footer .footer-top .join{
  margin-top: 30px;
}
#footer .footer-top .join h4{
  font-weight: 700;
  font-size: 20px;
  color: #111827;
}
#footer .footer-top .join p{
  font-weight: 400;
  font-size: 13px;
  color: #6B7280;
  width: 315.62px;
  height: 35.52px;
  line-height: 19.51px;
}
#footer .footer-top .mail{
  margin-top: 30px;
}
#footer .footer-top .mail .inbox{
  background: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 400;
  border: 1px solid #D1D5DB ;
  font-size: 14px;
  width: 418px;
  height: 48px;
  border-radius: 8px; 
}
#footer .footer-top .mail .inbox .inputbox{
  display: flex;
  width: 406px;
  margin-left: 16px;
}
#footer .footer-top .mail .inbox .inputbox .mail-search-bar{
  border: none;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

#footer .footer-top .mail .inbox .send{
  width: 73.11px ;
  height: 50px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  background: #634C9F;
  color: #ffffff;
  font-weight: 700;
  font-size: 14px;
  padding: 5px;
  border: none;
  padding: 5px;
}
#footer .footer-top .mail span{
  font-weight: 400;
  font-size: 11px;
  color: #6B7280;
}
#footer .footer-top .mail a{
  font-weight: 400;
  font-size: 10px;
}
#footer .line{
  height: 1px;
  width: 100%;
  background-color: #D1D5DB;
  margin-top: 20px;
}
/*  */
#footer .footer-middle{
  display: flex;
  justify-content: space-between;
  margin-top: 45px;
}
#footer .footer-middle .middle1{
  display: grid;
  grid-template-rows: 35px;
}
#footer .footer-middle .middle1 .do{
  font-weight: 600;
  font-size: 14px;
  color: #111827;
}
#footer .footer-middle .middle1 .Autoseligen{
  width: 268px;
  height: 35px;
  color: #6B7280;
}
#footer .footer-middle .middle1 li{
  font-weight: 400;
  font-size: 13px;
}
#footer .footer-middle .middle1 .call .call-2 span{
  font-weight: 400;
  font-size: 12px;
  color: #111827;
}
#footer .footer-middle .middle1 .mon h5{
  color: #111827;
}
#footer .footer-middle .middle1 .call{
  display: flex;
  gap: 23px;
}
#footer .footer-middle .middle1 .mon{
  display: flex;
  gap: 23px;
}
#footer .footer-middle .middle1 .mon .mon-1{}
#footer .footer-middle .middle1 .mon .mon-2 span{
  font-weight: 400;
  font-size: 12px;
  color: #111827;
}
#footer .footer-middle .middle1 .mon .mon-2 h5{
  font-weight: 600;
  font-size: 14px;
}
/*  */
#footer .footer-middle2{

}
#footer .footer-middle .middle2 .make{
  font-weight: 600;
  font-size: 14px;
  color: #111827;
  margin-bottom: 5px;
}
#footer .footer-middle .middle2 li{
  font-weight: 400;
  font-size: 13px;
  color: #4B5563;
  display: grid;
  grid-template-rows: 25px;
}

/*  */
#footer .footer-middle .middle3 .let{
  font-weight: 600;
  font-size: 14px;
  color: #111827;
}
#footer .footer-middle .middle3 li{
  font-weight: 400;
  font-size: 13px;
  color: #4B5563;
  display: grid;
  grid-template-rows: 25px;
}

/*  */

#footer .footer-middle .middle4 .get{
  font-weight: 600;
  font-size: 14px;
  color: #111827;
}
#footer .footer-middle .middle4 li{
  font-weight: 400;
  font-size: 13px;
  color: #4B5563;
  display: grid;
  grid-template-rows: 25px;
}
/*  */
#footer .footer-middle .middle5 .download{
font-weight: 600;
font-weight: 14px;
margin-bottom: 5px;
}
#footer .footer-middle .middle5 .gooleplay{
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 20px;
}
#footer .footer-middle .middle5 .gooleplay img{
  width: 120px;
  height: 38.92px;
}
#footer .footer-middle .middle5 .gooleplay span{
  font-weight: 500;
  font-size: 10px;
  color: #6B7280;
  width: 94px;
}
#footer .footer-middle .middle5 .applestore{
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 20px;
}
#footer .footer-middle .middle5 .applestore img{
  width: 120px;
  height: 38.92px;
}
#footer .footer-middle .middle5 .applestore span{
  font-weight: 500;
  font-size: 10px;
  color: #6B7280;
  width: 94px;
}
#footer .footer-middle .middle5 .follow{
  font-weight: 400;
  font-size: 12px;
  color: #111827;
  margin-bottom: 6px;
}
/*  */
#footer .footer-botttom{
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  margin-bottom: 30px;
  color: #F3F4F6;
}
#footer .footer-bottom .bottom-left{
}
#footer .footer-botttom .bottom-left h6{
  font-weight: 500;
  font-size: 12px;
  color: #6B7280;
}
#footer .footer-bottom .bottom-left .pay{
  gap: 5px;
}
#footer .footer-botttom .bottom-right{
  display: flex;
  gap: 6px;
}
#footer .footer-botttom .bottom-right h6{
  font-weight: 400;
  font-size: 12px;
  color: #111827;
  text-decoration: underline;
}

/*Responsive*/

@media (max-width : 1400px){
  .wachlist{
    width: 55px;
  }
  .delivery{
    display: flex;
    width: 62px;
  }
  .spotlight-right{
  }
}

/*  */
@media (max-width : 1280px){
  .spotlight-right{
    width: 100%; 
  }
  #spotlight .spotlight-main .spotlight-right .banner{

  }
  #spotlight .spotlight-main .spotlight-right .banner .banner-img img{
    width: 100%;
  }
  #spotlight .spotlight-main .spotlight-right .banner .banner-text .grocery h4{
    font-weight: 600;
    font-size: 30px;
  }
  #spotlight .spotlight-main .spotlight-right .cardbox{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    width: 25px;
  }
  #spotlight .spotlight-main .spotlight-right .banner span{
    font-size: 10px;
  }
  #spotlight .spotlight-main .spotlight-right .banner .banner-text .shop-Now{
    margin-top: -28px;
  }
}

/*  */
@media(max-width:1110px){  #spotlight .spotlight-main .spotlight-right .cardbox{
  display: grid;
  grid-template-columns: repeat(5,1fr);
}
#spotlight .spotlight-main .spotlight-right .banner .banner-text .grocery h4{
  font-weight: 600;
  font-size: 24px;
}
#spotlight .spotlight-main .spotlight-right .banner span{
  font-size: 10px;
  margin-top: 15px;
}
#spotlight .spotlight-main .spotlight-right .banner .banner-text{
  margin-top: -25px;
}
#spotlight .spotlight-main .mainleft{
  transition: right 0.3s ease-in-out;
  z-index: 1000;
  overflow-y: auto;
  overflow-x: hidden;
  width: 302px;
  position: fixed;
  background-color: #fff;
  height: 613px; 
  margin-top: 36px;
}
#spotlight .filter-icn .icn-img img{
  width: 25px;  
  display: block;
  position: absolute;
  margin : 60px 0 0 10px;
}
#spotlight .spotlight-main .mainleft .cross-icn .icn-img{
  width: 20px;
  display: block;
  position: absolute;
  right: 20px;
  margin: 30px 0 0 0px;
}
#spotlight .spotlight-main .mainleft{
  display: none;
}
#spotlight .spotlight-main .spotlight-right .bantage{
  margin-left: 50px;
}
#footer .footer-middle .middle2 li {
  font-size: 11px;
}
#footer .footer-middle .middle3 li{
  font-size: 11px;
}
#footer .footer-middle .middle4 li{
  font-size: 11px;
}
#spotlight .spotlight-main .spotlight-right .banner span {
  font-size: 14px;
  margin-top: -6px;
}
#spotlight .spotlight-main .spotlight-right .banner .banner-text .shop-Now {
  margin-top: 3px;
}
}
/*  */
@media(max-width : 960px){
  #spotlight .spotlight-main .spotlight-right .cardbox{
    display: grid;
    grid-template-columns: repeat(4,1fr);
  }
  #navbar .navbar1 .navbar1-right .nm {
    font-size: 10px;
  }
  #navbar .navbar1 .navbar1-left p{
    font-size: 10px;
  }
  #navbar .navbar1 .navbar1-right .np {
    font-size: 12px;
  }
  #navbar .navbar2 .navbar2-left h5 {
    font-size: 10px;
  }
  #navbar .navbar2 .navbar2-left p{
    font-size: 10px;
  }
  #navbar .navbar2 .navbar2-right h5{
    font-size: 10px;
  }
  #footer .footer-middle .middle2 li {
    font-size: 10px;
  }
  #footer .footer-middle .middle3 li{
    font-size: 10px;
  }
  #footer .footer-middle .middle4 li{
    font-size: 10px;
  }
  #footer .footer-middle .middle1 .Autoseligen{
    font-size: 10px;
  }#footer .footer-middle .middle1 li {
    font-size: 10px;
  }
  #footer .footer-middle .middle2 .make {
    font-size: 10px;
  }
  #footer .footer-middle .middle3 .let{
    font-size: 10px;
  }
  #footer .footer-middle .middle4 .get{
    font-size: 10px;
  }
  #footer .footer-middle .middle5 .download{
    font-size: 10px;
  }
  #footer .footer-botttom .bottom-left h6 {
    font-size: 8px;
  }
  #footer{
    margin-top: 30px;
  } 
  #footer .footer-middle .middle1 li
  #navbar .navbar1 .navbar1-left p{
    font-size: 10px;
  }
  #navbar .navbar4 .nav4-left ul{
    display: flex;
    gap: 20px;
  }
  #navbar .navbar4 .nav4-left ul li {
    font-size: 12px;
  }
  #navbar .navbar4 .nav4-right ul li a{
    font-size: 12px;
  }
/*  */
  #spotlight .spotlight-main .mainleft{
    width: 302px;
    height: 907px;
    position: fixed;
    z-index: 1000;
    transition: right 0.3s ease-in-out;
    background-color: #fff;
    height: 415px; 
    overflow-y: auto;
    overflow-x: hidden;
    margin-top: 55px;
  } 
  #spotlight .spotlight-main .mainleft .cross-icn .icn-img{
    font-size: 10px;
  }
  #spotlight .filter-icn .icn-img{
    width: 27px;
    position: absolute;
    cursor: pointer;
  }
  #spotlight .filter-icn .icn-img img{
    width: 100%;
  }
  #spotlight .cross-icn .icn-img{
    width: 40px;
    position: absolute;
    right: 13px;
    cursor: pointer;
  }
  #spotlight .filter-icn .icn-img img{
    width: 100%;
  }
}

/*  */
@media(max-width : 786px){
  #spotlight .spotlight-main .spotlight-right .cardbox{
    display: grid;
    grid-template-columns: repeat(3,1fr);
  }
  #navbar .navbar1 .navbar1-right .nm {
    font-size: 9px;
  }
  #navbar .navbar1 .navbar1-left p{
    font-size: 9px;
  }
  #navbar .navbar1 .navbar1-right .np {
    font-size: 12px;
  }
  #navbar .navbar2 .navbar2-left h5 {
    font-size: 12px;
  }
  #navbar .navbar2 .navbar2-left p{
    font-size: 12px;
  }
  #navbar .navbar2 .navbar2-right h5{
    font-size: 12px;
  }
  #footer .footer-middle .middle2 li {
    font-size: 12px;
  }
  #footer .footer-middle .middle3 li{
    font-size: 12px;
  }
  #footer .footer-middle .middle4 li{
    font-size: 13px;
  }
  #footer .footer-middle .middle1 .Autoseligen{
    font-size: 13px;
  }#footer .footer-middle .middle1 li {
    font-size: 13px;
  }
  #footer .footer-middle .middle2 .make {
    font-size: 13px;
  }
  #footer .footer-middle .middle3 .let{
    font-size: 13px;
  }
  #footer .footer-middle .middle4 .get{
    font-size: 13px;
  }
  #footer .footer-middle .middle5 .download{
    font-size: 12px;
  }
  #footer .footer-botttom .bottom-left h6 {
    font-size: 12px;
  }
  #footer .footer-middle .middle1 li
  #navbar .navbar1 .navbar1-left p{
    font-size: 8px;
  }
  #navbar .navbar4 .nav4-left ul{
    display: flex;
    gap: 8px;
  }
  #navbar .navbar4 .nav4-left ul li {
    font-size: 12px;
  }
  #navbar .navbar4 .nav4-right ul li a{
    font-size: 12px;
  }
  #navbar .navbar4 .nav4-right ul{
    display: flex;
    gap: 2px;
  }
  #footer{
    margin-top: 685px;
  }#footer .footer-top .join h4 {
    font-size: 13px;
  }
  #footer .footer-top .join p{
    font-size: 10px;
    width: 212.62px;
  }
  #footer .footer-top .mail .inbox {
    width: 265px;
    height: 32px;
  }
  #footer .footer-top .mail .inbox .send {
    height: 29px;
  }
  #footer .footer-top .mail span{
    width: 9px;
  }
  #footer .footer-middle{
    flex-direction: column-reverse;
  }
  #footer .footer-botttom{
    flex-direction: column;
  }
  #spotlight .spotlight-main .spotlight-right .banner span {
    font-size: 13px;
    margin-top: -46px;
  }
  #spotlight .spotlight-main .spotlight-right .banner .banner-text .grocery h4 {
    font-weight: 600;
    font-size: 20px;
  }

}

/*  */
@media(max-width : 520px){
  #spotlight .spotlight-main .spotlight-right .cardbox{
    display: grid;
    grid-template-columns: repeat(2,1fr);
  }
  #footer{
    margin-top: 1320px;
  }#footer .footer-top .join h4 {
    font-size: 13px;
  }
  #footer .footer-top{
    flex-direction: column-reverse;
  }
  #footer .footer-top .join p{
    font-size: 10px;
    width: 212.62px;
  }
  #footer .footer-top .mail .inbox {
    width: 265px;
    height: 32px;
  }
  #footer .footer-top .mail .inbox .send {
    height: 29px;
  }
  #footer .footer-top .mail span{
    width: 9px;
  }
  #footer .footer-middle{
    flex-direction: column-reverse;
  }
  #footer .footer-botttom{
    flex-direction: column;
  }
}
